body {
    margin: 0;
    padding: 0;
    font-family: 'MS Mincho';
    background: #000;
    width: 100%;
    height: 100%;
    background: #1c4e83;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

header nav{
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,.5);
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: none;
    position: fixed;
    top: 0;
}

header nav ul{
    margin: 0;
    padding: 0 100px;
    font-size: 25px;
    text-align: center;
}

header nav ul li{
    display: inline-block;
    list-style: none;
}

header nav ul li a{
    display:block;
    color: white;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}

header ul li a:hover{
    color: #4ff4ff;
}

.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media(max-width: 64em){
    header{
        padding: 0 20px;
    }
    .menu-toggle{
        display: block;
    }
    header nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        top: 50px;
        left: -100%;
        transition: 0.5s;
        background: rgba(0,0,0,.5);
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul a{
        border-bottom: 1px solid rgba(0,0,0,.2);
        font-size: 25px;
    }
}

.sec1{
    padding-top: 85px;
    width: 100%;
    height: 100vh;
    background: url(images/30486951514161445077.jpg);
    background-size: cover;
    background-position: center;
}

.sec1_bg{    
    overflow: hidden;
    z-index: -1;
    width: 100%;
    height: 100%;
}

container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.welcom{
    color: white;
    font-size: 140px;
    text-shadow: 4px 4px 6px #ffaeae, -4px 4px 6px #8f8fff;
    text-align: center;
}

.hello{
    color: white;
    font-size: 30px;
    text-shadow: 4px 4px 6px #ffaeae, -4px 4px 6px #8f8fff;
    text-align: center;
}

@media screen and (max-width: 700px){
    .welcom{
        font-size: 70px;
    }

    .hello{
        font-size: 25px;
    }
}

@media screen and (max-width: 700px){
    .imgic{
        width: 100%;
    }
}

section.sec2{
    padding: 100px;
    box-sizing: border-box;
    height: auto;
    background: linear-gradient(to left, #000, #1c4e83);
}

h2.section_title{
    margin-bottom: 20px;
    margin-top: -50px;
    padding-top: calc(50px + 6vh);
    color: white;
    font-size: 60px;
    text-shadow: 1px 1px 2px #ffaeae, -1px 1px 2px #8f8fff;
    text-align: center;
}

@media screen and (max-width: 700px){
    h2.section_title{
        font-size: 35px;
    }
}

h3.section_content{
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 2px #ffaeae, -1px 1px 2px #8f8fff;
    text-align: center;
}

@media screen and (max-width: 700px){
    h3.section_content{
        margin: 10px 0;
        padding: 10px;
        font-size: 15px;
    }
}

.sec3{
    padding: 30px;
    box-sizing: border-box;
    height: auto;
    background: linear-gradient(to left, #000, #1c4e83);
}

.swiper-container {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 200px;
    box-sizing: content-box;
}

.swiper-slide {
    width: 340px;
    height: 200px;
    background: #fff;
    padding-top: 0;
    padding-bottom: 0px;
}

.swiper-slider .imgBX{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.swiper-slider .imgBX img{
    width: 100%;
}

/* ページボタンのスタイル */
.swiper-button-prev,
.swiper-button-next {
  background-image: none;
  width: 28px;
  height: 86px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.swiper-button-prev:after {
  font-size: 48px;
  color: white;
  text-shadow: 4px 4px 6px #ffaeae;
}
.swiper-button-next:after {
  font-size: 48px;
  color: white;
  text-shadow: -4px 4px 6px #8f8fff;
}
.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none;
}

iframe{
    margin: 0 auto;
    display: block;
}

.topicon{
    position: fixed;
    bottom: 40px;
    right: 50px;
    width: 100px;
    height: 100px;
}

.topimg{
    width: 100px;
    height: 100px;
}

.game_live{
    margin: 0;
    padding: 0;
    width: 100%;
}

h3 {
    background-color: transparent;
    margin: 0;
    padding: 0;
    text-align: center;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
}

.IgGAHrR{
    display: flex;
    overflow-x: scroll;
}


.video_wrapper{
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    padding-top: 30px;
    height: 0;
}

.video_wrapper iframe{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.vid_lis_con{
    width: 100%;
    display: flex;
}

.vid_list{
    display: flex;
    overflow-x: scroll;
}

.video{
    cursor: pointer;
    margin: 10px 5px;
    width: 200px;
    transition: all 0.3s ease 0s;
}

.thumb img {
	width: 175px;
	position: relative;
}

.video_box{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.sec4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    background: linear-gradient(to left, #000, #1c4e83);
}

.sec5{
    background:  linear-gradient(to left, #000, #1c4e83);
    padding: 50px 80px 30px 80px;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.link_box{
    padding: 30px 0;
}

i.fab{
    margin-right: 8px;
}

.you_font{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
    color: white;
}

a:hover{
    color: #4ff4ff;
}

.profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    text-align: center; 
}

.profile a{
    display: flex;
    text-decoration: none;
    margin: 5px;
    border-radius: 4px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.profile_t{
    margin-top: 20px;
}

.profile .image{
    text-align: center;
    margin-left: 5px;
}

.profile img{
    align-self: center;
    border-radius: 100%;
    width: 120px;
    max-width: 100%;
}

.twitter-timeline{
    position: static;
    visibility: visible;
    display: inline-block;
    width: 100%;
    height: 500px;
    padding: 0px;
    border: medium none;
    max-width: 100%;
    min-width: 180px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 200px;
}

i.fas{
    margin-right: 8px;
}

.giticon{
    align-self: center;
    border-radius: 100%;
    width: 120px;
    max-width: 100%;
}

@media screen and (max-width: 700px){
    .video_box{
        width: 100%;
    }
}

.mail{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
    color: white;
}

@media screen and (max-width: 700px){
    .mail{
	font-size: 20px;
	}
}
